@using System.Collections
@using Open.Core
@using Open.Sentry.Extensions
@model Open.Facade.Bank.InsuranceView

@{
     ViewBag.Title = "New insurance";
     Layout = "_EditPartial";
     ViewBag.Button = "Make";
 }
<body>
    @Html.HiddenFor(x => x.ID)
    @Html.EditingControlsFor(x => x.ValidFrom)
    @Html.EditingControlsFor(x => x.ValidTo)
    @Html.DropDownEditingControlsForList(x => x.AccountId, new SelectList(ViewBag.Accounts as IEnumerable<string>))
    @Html.EditingControlsForDecimal(x => x.PaymentInStringFormat)
    @Html.DropDownEditingControlsForList(x => x.Type, new SelectList(ViewBag.InsuranceTypes as IEnumerable<InsuranceType>))

@section Actions{
    <a
       href="@Url.Action("Index", "Insurance")">
        Back to your insurances &raquo;
    </a>}

</body>